/* Lab2_1 Bài 2 */
em {
  font-variant: small-caps;
  font-size: 20px;
  word-spacing: 2px;
  letter-spacing: 1px;
  line-height: 25px;
}

strong {
    color: brown;
}

h2 > strong.title {
    color: white;
    text-shadow: 0 0 5px red; 
}
em.doan1 {
    color: red;
}
em.doan2 {
    color: blue;
}
em.doan3 {
    color: green;
}
body {
    text-align: center;
    font-size: 20px;
    background: linear-gradient(to right, #ffecd2, #fcb69f);
}
.container {
    display: inline-block;
    width: 30%;
    background-color: rgb(255, 246, 246);
    border-radius: 50px;
}

      