/* Lab2_2 Bài 2 */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background: linear-gradient(to right, #f3c17c, #f59c7e);
    text-align: center;
}

.Menu > a {
    font-variant: small-caps;
    color: blue;
    text-decoration: none;
}

.Menu > a:visited {
    color: rgb(4, 158, 4);
}

.Menu > a:hover {
    color: red;
    text-decoration: underline;
}